@mixin s {
  @media (max-width: 439.999px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 1023.999px) {
    @content;
  }
}

@mixin m {
  @media (min-width: 440px) and (max-width: 1023.999px) {
    @content;
  }
}

@mixin ml {
  @media (min-width: 440px) {
    @content;
  }
}

@mixin l {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin scrollbar {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  &:hover,
  &:focus-within {
    scrollbar-color: hsla(var(--web-negative-hsl), 0.28) transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 16px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }
  &:hover::-webkit-scrollbar-thumb,
  &:focus-within::-webkit-scrollbar-thumb {
    background-color: hsla(var(--web-negative-hsl), 0.28);
  }
  &:hover::-webkit-scrollbar-thumb:hover {
    background-color: hsla(var(--web-negative-hsl), 0.4);
  }
}
